
<% title "User List" %>

<div id="strangers">
<% for user in @strangers %>
  <div class="user">
    <p>
      <strong><%=h user.name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
<%= paginate @strangers, :window => 2 %>
</div>


<h2>Friends</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>


<h2>Friended by Users</h2>
<ul>
  <% for user in current_user.inverse_friends %>
    <li><%=h user.name %></li>
  <% end %>
</ul>
